body {
    background-color: rgba(12, 18, 44, 255);

}

.box1 {
    width: 20%;
    background-color: darkblue;
    padding: 25px 0px 25px 25px;
    border-radius: 5px 60px 5px 5px;
}

.cantiner {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    background-color: darkblue;
    height: 130px;
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.icons {
    margin-top: 20px;
}

.icon {
    background-color: rgb(13, 13, 56);
    height: 20px;
    padding: 15px;
    width: 20px;
    margin-right: 7px;
    border-radius: 10px;
}

.progress-bar {
    width: 90%;
    height: 20PX;
    border-radius: 20px;
    background: rgb(13, 13, 56);
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 40px;
    margin-top: 12px;
}

.progress {
    height: 15px;
    margin: 5px;
    width: calc(70% - 6px);
    border-radius: 10px;
    background: linear-gradient(45deg , #e664e4, #9198e5);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.btn{
    height: 13px;
    width: 13px;
    background-color: aliceblue;
    margin-right: 2px;
    border-radius: 13px;
    box-shadow: #9198e5 0px 1px 4px;
}

.box2 p{
    color: aliceblue;
    margin: 20px 0 0 40px;
    padding-top: 15px;
}
.gega{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
    margin-inline-start: 0px;
    margin-inline-end: 30px;
}
.left{
    background-color: aliceblue;
    position: relative;
    width: 150px;
    height: 60px;
    border-radius: 8px;
    bottom: 170px;
    left: 430px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.triengle{
    position: relative;
    bottom: 180px;
    left: 560px;
    width: 0px;
    height: 0px;
    border-top: 30px solid hsl(0deg, 0%, 100%);
    border-left: 20px solid transparent;
}
@media (max-width: 700px) {
    .triengle{
        display: none;
    }
    .cantiner{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .box2{
        margin-right: 15px;
        padding-bottom: 20px;
        width: 250px;
    }
    .left{
        position: relative;
        bottom: 15px;
        left: 60px;
    }
    .box1{
        padding-right: 50px;
        width: 200px;

    }
    .progress-bar{
        width: 80%;
    }
    .body{
        background-image: url(./images/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }
}